<section class="slider">
    <div class="slider-content">

        <!-- indicador da posição -->
        <input type="radio" name="btn-radio" id="radio1" checked>
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">

        <!-- imagens -->
        <% let contador = 0; %>
        <% events.forEach(event => { %>
            <% if (contador == 0) { %>
                <% if(event.imagem) { %>
                    <div class="slide-box mov1">
                        <a href="/aboutEvent/<%= event.id %>">
                            <img src="data:image/jpeg;base64,<%= event.imagem %>">
                        </a>
                    </div>
                <% } %>
                <% contador++; %>
            <% } else { %>
                <% if(event.imagem) { %>
                    <div class="slide-box">
                        <a href="/aboutEvent/<%= event.id %>">
                            <img src="data:image/jpeg;base64,<%= event.imagem %>">
                        </a>
                    </div>
                <% } %>
            <% } %>
        <% }) %>
        
        <!-- controler automático -->
        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>

        <!-- controler manual -->
        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>
</section>