<!-- menu -->
<nav>
    <h1><a href="/"><img src="/img/logo.png" style="max-width: 100px; max-height: 100px;"></a></h1>
    <ul class="boxBtnLangs">
        <li>
            BR
        </li>
        <li>
            SPN
        </li>
        <li>
            ING
        </li>
    </ul>
    <center>
        <ul class="boxBtnMenu">
            <li>
                <a href="/"><button class="btnMenu"><b style="color: white;">Ver cidades</b></button></a>
            </li>
            <li>
                <a href="/about"><button class="btnMenu"><b style="color: white;">Quem somos</b></button></a>
            </li>
            <li>
                <a href="/logAdm"><button class="btnMenu"><b style="color: white;">Login</b></button></a>
            </li>
            <li>
                <a href="/registerUser"><button class="btnMenu"><b style="color: white;">Cadastre-se</b></button></a>
            </li>
            <li>
                <a href="/admPainel"><button class="btnMenu"><b style="color: white;">Painel</b></button></a>
            </li>
            <li>
                <a href="/registerEvent"><button class="btnMenu"><b style="color: white;">Registre um evento</b></button></a>
            </li>
            <% if(conf == 1){ %>
                <li>
                    <a href="/logout"><button class="btnMenu"><b style="color: white;">Logout</b></button></a>
                </li>
            <% }else if(conf == 2){ %>
                <li>
                    <a href="/logout"><button class="btnMenu"><b style="color: white;">Logout</b></button></a>
                </li>
            <% } %>
        </ul>
    </center>
    <div class="clear"></div>
</nav>