<!-- menu -->
<nav>
    <h1>Logo</h1>
    <ul class="boxBtnLangs">
        <li>
            BR
        </li>
        <li>
            SPN
        </li>
        <li>
            ING
        </li>
    </ul>
    <center>
        <ul class="boxBtnMenu">
            <li>
                <a href="/"><button class="btnMenu"><b>Sua cidade</b></button></a>
            </li>
            <li>
                <a href="/about"><button class="btnMenu"><b>Quem somos</b></button></a>
            </li>
            <li>
                <a href="#"><button class="btnMenu"><b>Registre um evento</b></button></a>
            </li>
            <li>
                <a href="#"><button class="btnMenu"><b>Cadastre-se</b></button></a>
            </li>
        </ul>
    </center>
    <div class="clear"></div>
</nav>