<br>
<br>
<center>
    <h1><a href="#" class="hiperlink">Eventos de gastronomia</a></h1>
</center>
<section class="slider-box4">
    <div class="seta4 esquerda4" id="seta4-esquerda-c4"></div>
    <div class="slider-box-content4">
        <!-- controler da posição -->
        <input type="radio" name="mini4-radio" id="mini4-radio1" checked>
        <input type="radio" name="mini4-radio" id="mini4-radio2">
        <input type="radio" name="mini4-radio" id="mini4-radio3">
        <input type="radio" name="mini4-radio" id="mini4-radio4">
        <input type="radio" name="mini4-radio" id="mini4-radio5">
        <input type="radio" name="mini4-radio" id="mini4-radio6">
        <input type="radio" name="mini4-radio" id="mini4-radio7">
        <input type="radio" name="mini4-radio" id="mini4-radio8">
        <input type="radio" name="mini4-radio" id="mini4-radio9">
        <input type="radio" name="mini4-radio" id="mini4-radio10">

        <!-- imagens -->
        <div class="slide-img-box4 first">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box4">
            <img src="img/team.jpg">
        </div>
    </div>
    <div class="seta4 direita4" id="seta4-direita-c4"></div>
</section>