<br>
<br>
<center>
    <h1><a href="#" class="hiperlink">Eventos culturais e de entreterimento</a></h1>
</center>
<section class="slider-box">
    <div class="seta esquerda" id="seta-esquerda-c1"></div>
    <div class="slider-box-content">
        <!-- controler da posição -->
        <input type="radio" name="mini-radio" id="mini-radio1" checked>
        <input type="radio" name="mini-radio" id="mini-radio2">
        <input type="radio" name="mini-radio" id="mini-radio3">
        <input type="radio" name="mini-radio" id="mini-radio4">
        <input type="radio" name="mini-radio" id="mini-radio5">
        <input type="radio" name="mini-radio" id="mini-radio6">
        <input type="radio" name="mini-radio" id="mini-radio7">
        <input type="radio" name="mini-radio" id="mini-radio8">
        <input type="radio" name="mini-radio" id="mini-radio9">
        <input type="radio" name="mini-radio" id="mini-radio10">

        <!-- imagens -->
        <div class="slide-img-box first">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box">
            <img src="img/team.jpg">
        </div>
    </div>
    <div class="seta direita" id="seta-direita-c1"></div>
</section>