<br>
<br>
<center>
    <h1><a href="#" class="hiperlink">Eventos esportivos</a></h1>
</center>
<section class="slider-box3">
    <div class="seta3 esquerda3" id="seta3-esquerda-c3"></div>
    <div class="slider-box-content3">
        <!-- controler da posição -->
        <input type="radio" name="mini3-radio" id="mini3-radio1" checked>
        <input type="radio" name="mini3-radio" id="mini3-radio2">
        <input type="radio" name="mini3-radio" id="mini3-radio3">
        <input type="radio" name="mini3-radio" id="mini3-radio4">
        <input type="radio" name="mini3-radio" id="mini3-radio5">
        <input type="radio" name="mini3-radio" id="mini3-radio6">
        <input type="radio" name="mini3-radio" id="mini3-radio7">
        <input type="radio" name="mini3-radio" id="mini3-radio8">
        <input type="radio" name="mini3-radio" id="mini3-radio9">
        <input type="radio" name="mini3-radio" id="mini3-radio10">

        <!-- imagens -->
        <div class="slide-img-box3 first">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box3">
            <img src="img/team.jpg">
        </div>
    </div>
    <div class="seta3 direita3" id="seta3-direita-c3"></div>
</section>