<br>
<br>
<center>
    <h1><a href="#" class="hiperlink">Eventos sociais</a></h1>
</center>
<section class="slider-box2">
    <div class="seta2 esquerda2" id="seta2-esquerda-c2"></div>
    <div class="slider-box-content2">
        <!-- controler da posição -->
        <input type="radio" name="mini2-radio" id="mini2-radio1" checked>
        <input type="radio" name="mini2-radio" id="mini2-radio2">
        <input type="radio" name="mini2-radio" id="mini2-radio3">
        <input type="radio" name="mini2-radio" id="mini2-radio4">
        <input type="radio" name="mini2-radio" id="mini2-radio5">
        <input type="radio" name="mini2-radio" id="mini2-radio6">
        <input type="radio" name="mini2-radio" id="mini2-radio7">
        <input type="radio" name="mini2-radio" id="mini2-radio8">
        <input type="radio" name="mini2-radio" id="mini2-radio9">
        <input type="radio" name="mini2-radio" id="mini2-radio10">

        <!-- imagens -->
        <div class="slide-img-box2 first">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/team.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/temp.jpg">
        </div>
        <div class="slide-img-box2">
            <img src="img/team.jpg">
        </div>
    </div>
    <div class="seta2 direita2" id="seta2-direita-c2"></div>
</section>