<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>
<body>
    <h1 style="text-align: center;">Painel de controle</h1>
    <div class="painelContainer">
        
    </div>
</body>
<%- include("partials/footer.ejs") %>
</html>