<%- include("partials/header.ejs") %>
<body>
    <% if(conf == 1){ %>
        <%- include("partials/menu.ejs") %>
    <% }else{ %>
        <%- include("partials/menu2.ejs") %>
    <% } %>
    <h1 style="text-align: center;">Painel de controle</h1>
    <div class="painelContainer">
        <ul style="list-style: none;">
            <li><a href="/eventsList" class="btnMenu">Eventos</a></li><br><br>
            <li><a href="/category" class="btnMenu">Categorias</a></li><br><br>
            <li><a href="/userList" class="btnMenu">Usuários</a></li><br><br>
            <li><a href="/cidades" class="btnMenu">Cidades</a></li><br><br>
            <li><a href="/estado" class="btnMenu">Estados</a></li>
        </ul>
    </div>
</body>
<%- include("partials/footer.ejs") %>
</html>