<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>
<body>
    <section class="slider">
        <div class="slider-content">

            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio3">
            <input type="radio" name="btn-radio" id="radio4">

            <div class="slide-box mov1">
                <img src="img/temp.jpg">
            </div>
            <div class="slide-box mov2">
                <img src="img/temp.jpg">
            </div>
            <div class="slide-box mov3">
                <img src="img/temp.jpg">
            </div>

            <div class="navAuto">
                <div class="autoBtn1"></div>
            </div>
        </div>
    </section>
</body>
<%- include("partials/footer.ejs") %>
<script>

</script>
</html>