<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>
<body>
    <div class="container">
        <form method="post" action="/userSave" onsubmit="confForm(event, this)">
            <fieldset>
                <legend>Cadastre-se</legend>
                <div class="colUser" style="border-right: 1px solid white; margin-bottom: 20px;">
                    <label for="nameUser">Nome:</label><br>
                    <input type="text" name="nameUser" id="nameUser" placeholder="Coloque o seu nome ...">
                    <br>
                    <br>
                    <label for="email">E-mail:</label><br>
                    <input type="email" name="email" id="email" placeholder="Coloque o seu e-mail ...">
                    <br>
                    <br>
                    <label for="tel">Telefone:</label><br>
                    <input type="tel" name="tel" id="tel" placeholder="Coloque o seu telefone ...">
                    <br>
                    <br>
                    <label for="password">Senha:</label><br>
                    <input type="password" name="password" id="password" placeholder="Defina uma senha de 8 caracteres ...">
                    <br>
                    <br>
                    <label for="confPassword">Confirme a sua senha:</label><br>
                    <input type="password" name="confPassword" id="confPassword" placeholder="Confirme a sua senha ...">
                    <br>
                    <br>
                    <center>
                        <button type="submit" class="btnConf" id="btnConf">Cadastrar-se</button>
                    </center>
                </div>
            </fieldset>
        </form>
        <div class="clear"></div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
<script>
    function confForm(e, form){
        let nameUser = document.getElementById("nameUser");
        let email = document.getElementById("email");
        let tel = document.getElementById("tel");
        let password = document.getElementById("password");
        let confPassword = document.getElementById("confPassword");
    }
</script>
</html>