<%- include("partials/header.ejs") %>
<%- include("partials/menu.ejs") %>
<body>
    <div class="container">
        <form method="post" action="" onsubmit="confForm(event, this)">
            <fieldset>
                <legend>Registrar evento</legend>
                <div class="colReUser">
                    <h1>1. informações do local</h1>
                    <h3>Adicione as principais informações sobre a localização.</h3>
                    <br>
                    <br>
                    <label for="enderEvent">Informe o endereço ou o nome do local do evento:</label><br>
                    <input type="text" name="enderEvent" id="enderEvent" placeholder="Endereço ou o nome do local ...">
                    <br>
                    <br>
                    <label for="cep">CEP:</label><br>
                    <input type="text" name="cep" id="cep" pattern="[0-9]{5}-[0-9]{3}" maxlength="9" placeholder="00000-000">
                    <br>
                    <br>
                    <label for="avRua">Av./Rua:</label><br>
                    <input type="text" name="avRua" id="avRua" placeholder="Coloque a avenida ou a rua ...">
                    <br>
                    <br>
                    <label for="num">Número:</label><br>
                    <input type="text" name="num" id="num" placeholder="Confirme o seu e-mail ...">
                    <br>
                    <br>
                    <label for="complemento">Complemento:</label><br>
                    <input type="text" name="complemento" id="complemento" placeholder="complemento (opicional) ...">
                    <br>
                    <br>
                    <label for="bairro">Bairro:</label><br>
                    <input type="text" name="bairro" id="bairro" placeholder="Informe o bairro ...">
                    <br>
                    <br>
                    <label for="city">Cidade:</label><br>
                    <input type="text" name="city" id="city" placeholder="Informe a cidade ...">
                    <br>
                    <br>
                    <label for="est">Estado:</label><br>
                    <input type="text" name="est" id="est" placeholder="Informe o estado ...">
                    <br>
                    <br>
                </div>
                <div class="colReUser">
                    <h1>2. informações básicas</h1>
                    <h3>Adicione as principais informações do evento.</h3>
                    <br>
                    <br>
                    <label for="eventName">Nome do evento</label><br>
                    <input type="text" name="eventName" id="eventName" placeholder="Nome do evento ...">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <label for="imgEvent" style="border: 1px solid white; border-radius: 10px;cursor: pointer; padding: 100px;">Imagem de divulgação</label>
                    <input type="file" name="imgEvent" id="imgEvent" accept=".JPEG, .JPG, .PNG" style="display: none;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p><b>Aceitamos "JPEG" e "PNG".</b></p>
                    <br>
                    <br>
                    <h3>Classifique o seu evento</h3>
                    <br>
                    <br>
                    <label for="aboutEvent">Assunto do evento:</label>
                    <input type="text" class="aboutEvent" id="aboutEvent" name="aboutEvent" placeholder="assunto do evento ...">
                    <br>
                    <br>
                    <br>
                    <label for="categorySelector">Categoria</label><br><br>
                    <select id="categorySelector" class="categorySelector">
                        <option>Categoria</option>
                    </select>
                    <br>
                    <br>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <center>
                    <h1>3. Descrição do evento</h1>
                    <br>
                    <br>
                    <h3>Conte todos os detalhes do evento e a sua programação</h3>
                    <br>
                    <br>
                    <textarea name="descriptionEvent" id="descriptionEvent" style="width: 90%; height: 600px;"></textarea>
                    <br>
                    <br>
                </center>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <h1>4. Data e horário</h1>
                    <br>
                    <br>
                    <h3>Informe quando o seu evento acontecerá</h3>
                </center>
                <br>
                <br>
                <div class="col4">
                    <center>
                        <label for="dtInit">Data de início</label><br>
                        <input type="date" name="dtInit" id="dtInit" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="dtEnd">Data de término</label><br>
                        <input type="date" name="dtEnd" id="dtEnd" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="timeInit">Horário de início</label><br>
                        <input type="time" name="timeInit" id="timeInit" class="date">
                    </center>
                </div>
                <div class="col4">
                    <center>
                        <label for="timeEnd">Horário de término</label><br>
                        <input type="time" name="timeEnd" id="timeEnd" class="date">
                    </center>
                </div>
                <div class="clear"></div>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <h1>5. Sobre o produtor</h1>
                    <br>
                    <br>
                    <h3>Conte um pouco sobre você ou sua empresa.</h3>
                </center>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <label for="nameEventP">Nome:</label><br>
                    <input type="text" name="nameEventP" id="nameEventP" style="width: 700px;">
                </div>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <label for="aboutEventP">Descrição:</label><br><br>
                </div>
                <center>
                    <textarea id="aboutEventP" style="width: 90%; height: 600px;"></textarea>
                </center>
                <div class="clear"></div>
                <br>
                <br>
                <div style="padding: 0px 85px 0px 85px;">
                    <input type="checkbox" name="responsability" id="responsability" class="responsability" checked>
                    <label for="responsability" style="font-size: 18px;">
                        Este serviço é fornecido conforme os 
                        <a href="#" style="text-decoration: underline;">
                            termos e condições
                        </a> 
                        estabelecidos neste documento, os quais regem o seu uso. 
                        Ao acessar ou utilizar este serviço, você concorda com esses termos e condições.</label>
                </div>
                <br>
                <br>
                <center>
                    <button type="submit" class="btnConf" id="btnConf">Registrar evento</button>
                </center>
                <br>
                <br>
            </fieldset>
        </form>
        <br>
        <br>
        <div class="clear"></div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
<script src="tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#descriptionEvent, #aboutEventP"
    })

    let nameUser = document.getElementById("nameUser");
    let lastName = document.getElementById("lastName");
    let email = document.getElementById("email");
    let confEmail = document.getElementById("confEmail");
    let tel = document.getElementById("tel");
    let password = document.getElementById("password");
    let confPassword = document.getElementById("confPassword");
    let btnConf = document.getElementById("btnConf");

    let isNameValid = false;
    let isLastNameValid = false;
    let isEmailValid = false;
    let isConfEmailValid = false;
    let isTelValid = false;
    let isPasswordValid = false;
    let isConfPasswordValid = false;

    nameUser.addEventListener("input", () => {
        if(nameUser.value.length >= 2){
            nameUser.style.borderBottom = "1px solid green";
            isNameValid = true;
        } else {
            nameUser.style.borderBottom = "1px solid red";
            isNameValid = false;
        }
        validateForm();
    });

    lastName.addEventListener("input", () => {
        if(lastName.value.length >= 2){
            lastName.style.borderBottom = "1px solid green";
            isLastNameValid = true;
        } else {
            lastName.style.borderBottom = "1px solid red";
            isLastNameValid = false;
        }
        validateForm();
    });

    email.addEventListener("input", () => {
        if(email.value.includes("@")){
            email.style.borderBottom = "1px solid green";
            isEmailValid = true;
        } else {
            email.style.borderBottom = "1px solid red";
            isEmailValid = false;
        }
        validateForm();
    });

    confEmail.addEventListener("input", () => {
        if(confEmail.value === email.value){
            confEmail.style.borderBottom = "1px solid green";
            isConfEmailValid = true;
        } else {
            confEmail.style.borderBottom = "1px solid red";
            isConfEmailValid = false;
        }
        validateForm();
    });

    tel.addEventListener("input", () => {
        if(tel.value.length >= 9){
            tel.style.borderBottom = "1px solid green";
            isTelValid = true;
        } else {
            tel.style.borderBottom = "1px solid red";
            isTelValid = false;
        }
        validateForm();
    });

    password.addEventListener("input", () => {
        if(password.value.length >= 8){
            password.style.borderBottom = "1px solid green";
            isPasswordValid = true;
        } else {
            password.style.borderBottom = "1px solid red";
            isPasswordValid = false;
        }
        validateForm();
    });

    confPassword.addEventListener("input", () => {
        if(confPassword.value === password.value){
            confPassword.style.borderBottom = "1px solid green";
            isConfPasswordValid = true;
        } else {
            confPassword.style.borderBottom = "1px solid red";
            isConfPasswordValid = false;
        }
        validateForm();
    });

    function validateForm() {
        if(isNameValid && isLastNameValid && isEmailValid && isConfEmailValid && isTelValid && isPasswordValid && isConfPasswordValid){
            btnConf.classList.add("btnConfOk");
        } else {
            btnConf.classList.remove("btnConfOk");
        }
    }

    function confForm(e, form){
        e.preventDefault();

    }
</script>
</html>