* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: white;
    margin-top: 80px;
}

/* css do menu */
nav {
    width: 100%;
    top: 0;
    position: fixed;
    padding: 20px 20px 20px 20px;
    background-color: white;
    z-index: 999;
}

nav h1 {
    float: left;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxBtnLangs {
    float: right;
    list-style: none;
    padding-right: 40px;
}

.boxBtnLangs li {
    display: inline-block;
}

.boxBtnMenu {
    list-style: none;
}

.boxBtnMenu li {
    display: inline-block;
}

.btnMenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: rgb(81, 0, 128);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    color: white;
}

.btnMenu:hover {
    background-color: rgb(61, 0, 97);
    cursor: pointer;
}

/* css do carrossel principal */
.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: 500px;
    text-align: center;
    transform: translateY(-50%);
    transition: 2s;
}

.slide-box img {
    width: 100%;
}

#radio1:checked~.nav-auto .auto-btn1 {
    background-color: rgb(81, 0, 128);
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: rgb(81, 0, 128);
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: rgb(81, 0, 128);
}

#radio1:checked~.mov1 {
    margin-left: 0%;
}

#radio2:checked~.mov1 {
    margin-left: -25%;
}

#radio3:checked~.mov1 {
    margin-left: -50%;
}

/* estilizando os botões do carrossel */
.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 510px;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid rgb(81, 0, 128);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:hover {
    background-color: rgb(81, 0, 128);
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

/* css padrão dos outros carrosseis */
.slider-box {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-box2 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-box3 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-box4 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-box-content {
    width: 1000%;
    height: 270px;
    display: flex;
}
.slider-box-content2 {
    width: 1000%;
    height: 270px;
    display: flex;
}
.slider-box-content3 {
    width: 1000%;
    height: 270px;
    display: flex;
}
.slider-box-content4 {
    width: 1000%;
    height: 270px;
    display: flex;
}
.slider-box-content input {
    display: none;
}
.slider-box-content2 input {
    display: none;
}
.slider-box-content3 input {
    display: none;
}
.slider-box-content4 input {
    display: none;
}
.slider-box-content img {
    flex: 0 0 calc((90% - 40px) / 5);
    max-height: 250px;
    object-fit: cover;
    margin: 0 5px;
}
.slider-box-content2 img {
    flex: 0 0 calc((90% - 40px) / 5);
    max-height: 250px;
    object-fit: cover;
    margin: 0 5px;
}
.slider-box-content3 img {
    flex: 0 0 calc((90% - 40px) / 5);
    max-height: 250px;
    object-fit: cover;
    margin: 0 5px;
}
.slider-box-content4 img {
    flex: 0 0 calc((90% - 40px) / 5);
    max-height: 250px;
    object-fit: cover;
    margin: 0 5px;
}
.slide-img-box {
    transition: 0.5s;
}
.slide-img-box2 {
    transition: 0.5s;
}
.slide-img-box3 {
    transition: 0.5s;
}
.slide-img-box4 {
    transition: 0.5s;
}
.seta {
    position: absolute;
    bottom: 150px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}
.seta2 {
    position: absolute;
    bottom: -205px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}
.seta3 {
    position: absolute;
    bottom: -560px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}
.seta4 {
    position: absolute;
    bottom: -900px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}
.esquerda {
    left: 0;
}
.esquerda2 {
    left: 0;
}
.esquerda3 {
    left: 0;
}
.esquerda4 {
    left: 0;
}
.direita {
    right: 0;
}
.direita2 {
    right: 0;
}
.direita3 {
    right: 0;
}
.direita4 {
    right: 0;
}
.seta::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.seta2::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.seta3::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.seta4::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.seta.esquerda::before {
    border-right: 10px solid black;
}
.seta2.esquerda2::before {
    border-right: 10px solid black;
}
.seta3.esquerda3::before {
    border-right: 10px solid black;
}
.seta4.esquerda4::before {
    border-right: 10px solid black;
}
.seta.direita::before {
    border-left: 10px solid black;
}
.seta2.direita2::before {
    border-left: 10px solid black;
}
.seta3.direita3::before {
    border-left: 10px solid black;
}
.seta4.direita4::before {
    border-left: 10px solid black;
}
/* "script" do carrossel 1 */
#mini-radio1:checked~.first {
    margin-left: 0%;
}
#mini-radio2:checked~.first {
    margin-left: -1%;
}
#mini-radio3:checked~.first {
    margin-left: -2%;
}
#mini-radio4:checked~.first {
    margin-left: -3%;
}
#mini-radio5:checked~.first {
    margin-left: -4%;
}
#mini-radio6:checked~.first {
    margin-left: -5%;
}
#mini-radio7:checked~.first {
    margin-left: -6%;
}
#mini-radio8:checked~.first {
    margin-left: -7%;
}
#mini-radio9:checked~.first {
    margin-left: -8%;
}
#mini-radio10:checked~.first {
    margin-left: -9%;
}
/* "script" do carrossel 2 */
#mini2-radio1:checked~.first {
    margin-left: 0%;
}
#mini2-radio2:checked~.first {
    margin-left: -1%;
}
#mini2-radio3:checked~.first {
    margin-left: -2%;
}
#mini2-radio4:checked~.first {
    margin-left: -3%;
}
#mini2-radio5:checked~.first {
    margin-left: -4%;
}
#mini2-radio6:checked~.first {
    margin-left: -5%;
}
#mini2-radio7:checked~.first {
    margin-left: -6%;
}
#mini2-radio8:checked~.first {
    margin-left: -7%;
}
#mini2-radio9:checked~.first {
    margin-left: -8%;
}
#mini2-radio10:checked~.first {
    margin-left: -9%;
}
/* "script" do carrossel 3 */
#mini3-radio1:checked~.first {
    margin-left: 0%;
}
#mini3-radio2:checked~.first {
    margin-left: -1%;
}
#mini3-radio3:checked~.first {
    margin-left: -2%;
}
#mini3-radio4:checked~.first {
    margin-left: -3%;
}
#mini3-radio5:checked~.first {
    margin-left: -4%;
}
#mini3-radio6:checked~.first {
    margin-left: -5%;
}
#mini3-radio7:checked~.first {
    margin-left: -6%;
}
#mini3-radio8:checked~.first {
    margin-left: -7%;
}
#mini3-radio9:checked~.first {
    margin-left: -8%;
}
#mini3-radio10:checked~.first {
    margin-left: -9%;
}
/* "script" do carrossel 4 */
#mini4-radio1:checked~.first {
    margin-left: 0%;
}
#mini4-radio2:checked~.first {
    margin-left: -1%;
}
#mini4-radio3:checked~.first {
    margin-left: -2%;
}
#mini4-radio4:checked~.first {
    margin-left: -3%;
}
#mini4-radio5:checked~.first {
    margin-left: -4%;
}
#mini4-radio6:checked~.first {
    margin-left: -5%;
}
#mini4-radio7:checked~.first {
    margin-left: -6%;
}
#mini4-radio8:checked~.first {
    margin-left: -7%;
}
#mini4-radio9:checked~.first {
    margin-left: -8%;
}
#mini4-radio10:checked~.first {
    margin-left: -9%;
}
/* css do about */
.col {
    width: 46%;
    float: left;
    padding: 20px 20px 20px 50px;
}
.col li {
    margin: 0px 0px 0px 50px;
}
.col h3 {
    font-size: 30px;
}
.colContent {
    margin: 0px 0px 0px 250px;
}

.titleAbout {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}
/* css do registro de usuário */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
form {
    width: 100%;
}
form fieldset {
    border: 1px solid black;
    border-radius: 10px;
}
form fieldset legend {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 10px 0px 10px;
}
form input {
    background: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    width: 90%;
    height: 40px;
    font-size: 17px;
}
form label {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::placeholder {
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.colUser {
    float: left;
    width: 45%;
    padding: 20px;
}
.btnConf {
    background-color: rgb(36, 0, 56);
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 19px;
    border: none;
}
.btnConfOk {
    cursor: pointer;
    background-color: rgb(81, 0, 128);
    color: white;
    cursor: pointer;
}
.colReUser {
    width: 47.3%;
    float: left;
    padding: 20px;
}
.imgEventCol {
    width: 50%;
    float: left;
}
.categorySelector {
    color: black;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col4 {
    float: left;
    width: 24%;
    text-align: center;
}
.date {
    border: none;
    width: 140px;
}
.responsability {
    width: 20px;
    height: 20px;
}